.home-pg-movie .latest-movies .movie-box-1, .home-pg-movie .latest-movies .movie-box-1 .poster, .home-pg-movie .latest-movies .movie-box-1 .poster img{
	height: auto;
}
.home-pg-movie .latest-movies .item{
	margin-bottom: 30px;
}
@media all and (min-width:992px) and (max-width:1024px) {
	.hamburger {
		width: 100%;
		text-align: right
	}
}

@media(max-width:1024px) {
	.d-flex {
		display: block!important
	}
	#main-nav .navbar-nav {
		display: none
	}
	.hamburger {
		display: inline-block
	}
	.footer-copyright-area {
		text-align: center
	}
}

@media(max-width:992px) {
	.movie-detail-intro2 .movie-details{
		margin-left: 10px;
	}
	.coming-soon,
	.login-register-page {
		min-height: 100vh;
		height: auto
	}
	.icon-box.with-line:before,
	section.upcoming-movies .upcoming-item .movie-details {
		display: none
	}
	footer.footer1 .footer-widget-area .col-md-6 {
		margin-bottom: 50px
	}
	footer.footer1 .footer-widget-area .col-md-6:nth-child(3),
	footer.footer1 .footer-widget-area .col-md-6:nth-child(4) {
		margin-bottom: 0
	}
	.coming-soon .container {
		padding-top: 50px;
		padding-bottom: 50px;
		top: auto;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0)
	}
	.login-register-page .container {
		padding-top: 150px;
		padding-bottom: 50px;
		top: auto;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0)
	}
	.features .features-wrapper {
		padding: 100px 50px
	}
	.movie-detail-main .inner {
		padding: 0
	}
	.movie-detail-intro2 .movie-poster {
		margin-right: 0
	}	
	.movie-detail-intro2 .rate-movie {
		border: 1px solid #3e4555
	}
	.celebrity-list-1 .celebrity-image {
		flex: 2
	}
	.celeb-detail .celeb-details .bio-description,
	.celeb-detail .celeb-details .bio-details {
		width: 100%;
		float: none
	}
	.celeb-detail .celeb-details .bio-details {
		margin-top: 50px
	}
}

@media all and (max-width:767px) {
	.home-pg-movie .latest-movies .movie-box-1, .home-pg-movie .latest-movies .movie-box-1 .poster, .home-pg-movie .latest-movies .movie-box-1 .poster img{
		height: 450px;
	}
	.movie-detail-intro2 .movie-details,
	.movie-detail-intro2 .movie-details .title {
		color: white;
	}
	.timeline .main-line,
	.timeline .timeline-image-wrapper,
	.timeline .timeline-step:last-child:after,
	.timeline .timeline-step:last-child:before,
	.upcoming-movies .movie-box-1 .movie-details,
	section.latest-movies .btn,
	section.latest-tvshows .btn {
		display: none
	}
	.celebrity-list-1 .celebrity-image,
	.movie-list-1 .listing-image {
		max-height: 300px;
		overflow: hidden
	}
	section.latest-movies .title,
	section.latest-tvshows .title {
		text-align: center
	}
	.upcoming-movies .movie-box-1.upcoming-featured-item {
		margin-bottom: 20px
	}
	.timeline {
		margin-top: 50px
	}
	.timeline .timeline-step:last-child {
		padding-bottom: 0
	}
	.timeline .timeline-text-wrapper .timeline-text,
	.timeline .timeline-text-wrapper .timeline-text-right {
		padding: 0;
		text-align: center
	}
	section.counter .col-sm-12 {
		margin-bottom: 40px
	}
	.pricing-table-2 {
		display: block
	}
	.pricing-table-2 .plan.featured {
		transform: none
	}
	.pricing-table-2 .plan {
		margin-bottom: 35px
	}
	footer.footer1 .footer-widget-area .col-md-6 {
		margin-bottom: 50px!important
	}
	footer.footer1 .footer-widget-area .col-md-6:last-child {
		margin-bottom: 0!important
	}
	footer.footer1 .footer-copyright-area .copyright {
		margin-top: 25px
	}
	.layout-switcher {
		margin-bottom: 20px
	}
	.sort-by {
		float: none
	}
	.movie-list-1 .listing-container {
		display: block;
		height: auto
	}
	.movie-list-1 .listing-image:after {
		display: none
	}
	.movie-list-1 .listing-content .inner {
		position: relative;
		top: auto;
		left: 0;
		transform: none;
		padding: 30px
	}
	.movie-list-2 .listing-container {
		display: block;
		height: auto
	}
	.movie-list-2 .listing-image {
		height: 250px
	}
	.movie-list-2 .listing-image .img-wrapper {
		height: 300px
	}
	.movie-list-2 .listing-content .inner {
		position: relative;
		top: auto;
		left: 0;
		transform: none;
		padding: 50px 25px
	}
	.movie-list-2 .listing-content .buttons {
		top: 20px;
		right: 0;
		text-align: center
	}
	.movie-list-2 .stars {
		right: 0;
		text-align: center
	}
	.blog-post {
		margin: 0 0 40px
	}
	.blog-post:last-of-type {
		margin-bottom: 0;
		padding-bottom: 20px
	}
	.sidebar {
		margin-top: 50px
	}
	.blog-post-wrapper {
		margin-right: 0
	}
	.contact-page .details-wrapper ul.contact-details {
		margin-bottom: 50px
	}
	.celebrity-list-1 .celeb-container {
		display: block
	}
	.celeb-detail .celeb-details .profession,
	.celeb-detail .celeb-details .tab-links li a,
	.celeb-detail .celeb-details .title {
		color: inherit
	}
	.celeb-detail .celeb-details .tab-content,
	.celeb-detail .celeb-details .tab-links {
		margin-top: 30px
	}
}

@media all and (max-width:480px) {
	.coming-soon .count-down,
	.coming-soon .count-down div,
	.coming-soon .count-down span,
	.movie-detail-intro2 .movie-poster,
	.movie-detail-intro2 .movie-poster img {
		width: 100%
	}
	.coming-soon .count-down div {
		margin: 0 0 30px
	}
	.coming-soon .count-down div:last-child {
		margin: 0
	}
	.top-movies2 {
		margin-top: -120px
	}
	.watch-later-item .listing-container {
		display: block
	}
	.watch-later-item .listing-container .listing-image {
		text-align: center;
		margin-bottom: 30px
	}
	.watch-later-item .listing-container .listing-image img {
		width: 70%
	}
	.watch-later-item .listing-container .listing-content .inner {
		padding-left: 0;
		text-align: center
	}
	.watch-later-item .listing-container .listing-content p {
		margin-bottom: 20px
	}
}

@media all and (max-width:380px) {
	.top-movies2 {
		margin-top: -80px
	}
	.movie-detail-main ul.image-gallery li {
		width: 48%
	}
}

@media all and (max-width:350px) {
	.features .features-wrapper {
		padding: 100px 30px
	}
}
