.nav {
    display: inline-block;
}
.nav-toggle {
    line-height: 1;
    display: inline-block;
    padding: 5px;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #a4a4a4;
    outline: none !important;
    z-index: 99;
    height: 40px;
    width: 52px;
}
 .nav-toggle .icon-menu {
     position: relative;
     display: inline-block;
     width: 28px;
     height: 20px;
     vertical-align: middle;
     fill: none;
}
 .icon-menu .line {
     position: absolute;
     left: 0;
     display: block;
     width: 100%;
     height: 4px;
     -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
     transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
     -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
     transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
     background-color: #ff0000;
}
 .icon-menu .line-1 {
     top: 0;
}
 .icon-menu .line-2 {
     top: 50%;
     margin-top: -2px;
}
 .icon-menu .line-3 {
     bottom: 0;
}
 .nav-menu li:last-child{
     border-right:none!important;
}
 .main_dis{
     font-size:11px;
     width:110px;
}
 .main_m{
     font-size:18px;
     text-transform:uppercase;
}
/*****custum********/
 @media (min-width: 768px) {
     .nav, .nav-container, .nav-container.is-visible {
         position: static;
         top: auto;
         left: auto; 
         -webkit-transform: translateX(0);
         -ms-transform: translateX(0);
         transform: translateX(0);
    }
     .nav-container, .nav-container.is-visible {
         visibility: visible;
         height: auto;
         min-height: 0;
         overflow-y: visible;
    }
     .menuToggle-button {
         display: none;
    }
    .nav li:hover ul {
        opacity: 1;
        visibility: visible;
    }
}
 .nav li, .right-menu li {
     display: inline-block;
     position: relative;
     margin: 0 0;
     vertical-align: top;
}
 .nav li a, .right-menu li a {
     margin: 0;
     color: #ffffff;
     font-size: 17px;
     transition: all 0.2s ease-in;
     display: block;
     padding: 28px 22px;
     position: relative;
     font-weight: 500;
     overflow: hidden;
     text-decoration: none;
     text-shadow: none;
}
.right-menu li a {
    padding: 28px 10px;
}
.nav>ul>li>a:hover,.nav>ul>li>a:focus, .nav>ul>li.active>a,
.right-menu li a:hover, .right-menu li a:focus {
    color: #ff0000;
}
.nav li ul {
    position: absolute;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in;
    width: 208px;
    padding: 0 0;
    left: 0;
    z-index: 99;
    box-shadow: 0 4px 24px 0 rgba(5,27,44,.2);
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.nav ul li li a {
    padding: 10px 15px;
    line-height: normal;
    color: #1f1a17;
    font-size: 14px;
}
.nav>ul>li>ul>li>a:hover,.nav>ul>li>ul>li>a:focus, .nav>ul>li>ul>li.active>a {
    color: #3bb3c2;
}
.nav li li a::after {
    content: none;
}
.nav li li {
    display: block;
}
.nav li.hover ul {
    opacity: 1;
    visibility: visible;
}


 