@media only screen and (min-width: 1366px) {
    div.container {
        max-width: 1366px;
        padding: 0 25px;
    }
    header.header .container {
        padding: 0;
    }
}
@media only screen and (max-width:1920px) {
}
@media only screen and (min-width : 900px) and (max-width : 1290px) and (orientation : portrait) {
}
@media only screen and (min-width : 900px) and (max-width : 1920px) and (orientation : landscape) {
}
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
}
@media screen and (max-width: 1280px) {
}
@media only screen and (min-width : 1200px) and (max-width : 1280px) and (orientation : landscape) {
}
@media only screen and (max-width:1365px) {
    .nav li a, .right-menu li a {
        font-size: 15px;
        padding: 22px 10px;
    }
}
@media only screen and (max-width:1199px) {

    .detail-pro-list ul{
       justify-content: flex-start;
    }
    .nav li a, .right-menu li a {
        font-size: 13px;
        padding: 18px 10px;
    } 
    .item-celebrities .footer-cont ul li a {
        width: 35px;
        height: 35px;
    }
    .main-items ul.items li.item {
        max-width: 20%;
        flex: 0 0 20%;
    }
    .detail-pro-list ul li {
        width: 33.33%;
        padding:10px ​10px;
    }
    .detail-pro-img {
        margin-bottom: 15px;
    }
}
@media screen and (max-width:1000px) {
}
@media screen and (max-width: 991px) {
    .contact-page .details-wrapper{
        padding-right: 0;
    }
    .contact-page .details-wrapper ul.contact-details{
        padding-left: 0px;
        margin-bottom: 25px;
    }
    .nav li a, .right-menu li a {
        font-size: 12px;
        padding: 11px 5px;
    }
    .main-items ul.items li.item { 
        max-width: 25%;
        flex: 0 0 25%;
    }
    .footer-item.item-celebrities {
        display: none;
    }
    .footer-cont ul li {
        margin-right: 15px;
    }
    .footer-cont ul li a {
        font-size: 13px;
    } 
    .item-connect .footer-cont ul li a { 
        width: 35px;
        height: 35px;
    }
    .lft-filter-left {
        margin: 0 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .lft-filter { 
        font-size: 19px;
    }
    .lft-filter span.btn.sm-btn.rounded-pill {
        font-size: 15px;
    }
    .lft-filter .lft-filter-btn {
        display: flex;
    }
    .lft-filter-btn {
        display: flex;
        position: relative;
        z-index: 1;
    }
    .top-filter {
        margin: 0;
    }
    .right-filter-dropdowns {
        margin: 0 0 20px;
        display: none; 
    }
    .setting-inner {
        padding: 15px;
        overflow: auto;
    }
    .setting-inner  table{
        width: 780px;
    }
}
@media screen and (max-width: 860px) {
}
@media screen and (max-width: 812px) {
}
@media only screen and (max-width:768px) {
}
@media only screen and (max-width:767px) {   
    .main-footer {
        padding: 25px 10px;
    }
    .cart-img {
        font-size: 35px;
        margin-right: 15px;
    }
    .cart-details p:nth-child(1) {
        font-size: 16px;
    }
    .cart-list-sec ul li{
            padding: 10px 30px;
    }
    .cart-list-sec ul {
        color: #fff;
        padding: 10px 20px 30px 20px;
    }
    .add-new-cart a {
        font-size: 14px;
        padding: 8px 25px;
    }
    .cart-delete{
        right: 20px
    }
    .account-settings{
        margin: 30px 0;
    }
    .setting-inner {
        padding: 5px 15px 15px 15px;
         overflow: inherit;
    }
    .setting-inner  table{
        width: 100%;
    }
    .setting-inner td {
        display: block; 
        padding: 15px 25px 10px 25px;     
    }
    .setting-inner td:last-child {
        text-align: left;
    }
    .setting-inner td:nth-child(1) {
        background: #000;
        margin-top: 15px;
    }
    .payment-option p {
        display: block;
        margin: 10px 10px 10px 10px;
    }
    .t-am {
        width: 90%;
    }
    .add-car-field .card-body {
        padding: 0;
        margin-top: 35px;
    }
    .login-inner{
        padding: 10px 0px;
    }
    .detail-pro-list ul li {
        width: 50%;
    }
    .inner-page-middle-sec {
        padding: 20px 0;
    }
    .nav-tabs .nav-link{
        padding: 10px 12px 10px;
        font-size: 12px !important;
    }
    .user-rat-btn .item-rating i.fas.fa-star { 
        display: inline-block;
        margin: 0 3px;
    }
    .menus .nav li:nth-last-child(2),
    .menus .nav li:nth-last-child(1) {
        display: block;
    }
    .top-right {
        display: none;
    }
    .add-car-field input.form-control1{
        margin: 10px 0px;
    }  
    .main-items ul.items li.item {
        max-width: 33.3333%;
        flex: 0 0 33.3333%;
    }
    .container, .container-sm { 
        max-width: 100%; 
    }
    section.middle-section {
        overflow-x: hidden;
    }
    .top-left {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .main-logo {
        width: 41.6666666667%;
        min-width: 220px;
    }
    .navigation-pagination .pagination .page-item .page-link {
        font-size: 13px;
        height: 35px;
        width: 35px; 
    }
    .top-left {
        align-items: center;
        justify-content: space-between;
    }
    .menus .nav.nav-container { 
        height: 100%;
        top: 0;
        z-index: 99;
        background: #000;
        position: fixed; 
        right: 0;
        width: 100%;
        max-width: 250px;
        transition: all 0.3s ease-in;
        transform: translate(100%, 0);
    }
    .menus .nav.nav-container.is-visible { 
        transform: translate(0,0);
    }
    .menus .nav li {
        display: block;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    .menus .nav li a {
        padding: 12px 20px;
        font-size: 15px;
    }
    button.nav-toggle.is-active::before {
        content: "";
        background: rgba(0,0,0,0.6);
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
    }
    body.nav-open {
        overflow: hidden;
    }
}
@media only screen and (max-width:680px) {
}
@media only screen and (max-width:640px) {
}
@media only screen and (max-width:575px) {
    .payment-option p {
        width: 100%;
    }
    .container1{
        width: 100%;
    }
    .detail-pro-list ul li {
        width: 100%; 
    }
    .main-items ul.items li.item {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .right-filter-dropdowns .form-group {
        width: 100%;
        padding: 2px;
    }
    .right-filter-dropdowns.d-flex {
        flex-wrap: wrap;
    }
    .right-filter-dropdowns .form-group:nth-child(1) {
        order: 2; 
        width: 50%;
    }
    .right-filter-dropdowns .form-group:nth-child(2) {
        order: 1;
    }
    .right-filter-dropdowns .form-group:nth-child(3) {
        order: 3;
        width: 50%; 
    }
    .open-filter-dropdowns .filter-celebrities {
        top: 192px;
    }
    
}
@media only screen and (max-width:500px) {
}
@media only screen and (max-width:414px) { 
    .lft-filter {
        font-size: 15px;
    }
    .lft-filter span.btn.sm-btn.rounded-pill {
        font-size: 13px;
        padding: .255rem 1rem;
    }
    .filter-btn1 span.btn.btn-sm, .filter-btn2 span.btn.btn-sm {
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        text-transform: capitalize;
    }
    .main-banner-slider .owl-dots {
        margin: 10px 0 0;
    }
    .main-banner-slider {
        margin: 0 0 20px;
    }
    .lft-filter-left,
    .right-filter-dropdowns {
        margin: 0 0 10px;
    }
    .main-banner-slider .owl-carousel .owl-nav button {
        width: 30px;
        height: 30px;
        top: calc(50% - 30px);
        font-size: 14px;
    }
}
@media only screen and (max-width : 640px) and (orientation : landscape) {
}
@media only screen and (max-width : 320px) and (orientation : portrait) {
}
@media only screen and (min-height: 620px) {
}
