/* CSS Document */
@import "fontface.css";
body {
	margin: 0px;
	padding: 0px;
	color: #1f1a17;
    font-family: 'Montserrat', sans-serif;
	background: #000000;
	overflow-x: hidden;
}
:root {
    --main-color: #1f1a17;
}
/***************************reset*********************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0;
}
body ul {
	list-style: none;
	margin: 0px;
    padding: 0;
}
blockquote, q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	margin: 0px;
	padding: 0px;
}
img {
	max-width: 100%;
	border: none;
	height: auto;
}
a {
	outline: 0;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
a img {
	border: 0px;
	text-decoration: none;
}

/***********************end reset*********************/


header.header {
    border-bottom: 1px solid #595959;
}
.right-menu {
    text-align: right;
}
.main-banner-slider {
    margin: 0 0 40px;
}
.banner-slider-img img {
    width: 100%;
}
.main-banner-slider .owl-carousel .owl-nav button {
    background: #fff;
    border: 2px solid #454545;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: calc(50% - 40px);
    font-size: 20px;
    outline: none;
}
.main-banner-slider .owl-carousel .owl-nav button span {
    display: none;
}
.main-banner-slider .owl-carousel .owl-nav button.owl-prev {
    left: 20px;
}
.main-banner-slider .owl-carousel .owl-nav button.owl-next {
    right: 20px;
}
.main-banner-slider .owl-carousel .owl-nav button.owl-prev::before,
.main-banner-slider .owl-carousel .owl-nav button.owl-next::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.main-banner-slider .owl-carousel .owl-nav button.owl-prev::before {
    content: "\f060";
}
.main-banner-slider .owl-carousel .owl-nav button.owl-next::before {
    content: "\f061";
}
.main-banner-slider .owl-dots {
    text-align: center;
    margin: 20px 0 0;
}
.main-banner-slider .owl-dots button.owl-dot {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    margin: 0 5px;
    outline: none;
}
.main-banner-slider .owl-dots button.owl-dot.active {
    background: #ff0000;
}
.lft-filter {
    font-size: 25px;
    font-weight: 800;
    color: #fff; 
}
.lft-filter span.btn.sm-btn.rounded-pill {
    background: #ff0000;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    vertical-align: middle;
}
.top-filter {
    margin: 0 0 35px;
}
.filter-btn1 span.btn.btn-sm, .filter-btn2 span.btn.btn-sm {
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
}
.lft-filter .lft-filter-btn {
    display: none;
}
.right-filter-dropdowns {
    display: flex;
    justify-content: flex-end;
    width: 100% !important;
}
.right-filter-dropdowns .results-fltr .btn, .right-filter-dropdowns .dropdown .btn, .right-filter-dropdowns .input-group.search-filter {
    background: #e5e5e5;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0;
    text-align: left;
    text-transform: capitalize;
    width: 100%;
    height: 50px;
}
.right-filter-dropdowns .input-group.search-filter input.form-control {
    height: 100%;
    background: none;
    border: none;
    box-shadow: none;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}
.right-filter-dropdowns .results-fltr .btn i, .right-filter-dropdowns .dropdown .btn i {
    font-size: 18px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}
.right-filter-dropdowns .form-group {
    width: 33.3333%;
    padding: 0 5px;
}
.right-filter-dropdowns .dropdown ul.dropdown-menu {
    width: 100%;
    border-radius: 0;
}
.main-items ul.items {
    /*display: flex;
    flex-wrap: wrap;*/
    text-align: left;
    overflow: hidden;
}
.main-items ul.items li.item {
    padding: 5px;
    max-width: 16.6666%;
    flex: 0 0 16.6666%;
   display: inline-block;
    vertical-align: top;
    float: left;
}
.main-items ul.items li.item .item-inn {
    background: #232323;
    padding: 10px 10px 20px;
    text-align: center;
}
.item .item-inn .item-img a {
    display: block;
}
.item .item-inn .item-img a img {
    width: 100%;
    height: 198px;
    object-fit: cover;
}
.item-cont .item-title {
    margin: 15px 0 5px;
}
.item-cont .item-title a {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    transition: all 0.2s ease-in;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.main-items .item:hover .item-cont .item-title a {
    color: #ff0000;
}
.item-cont .item-fav .btn {
    background: #000;
    width: 45px;
    height: 45px;
    font-size: 18px;
    color: #ffffff;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-fav {
    margin-top: -20px;
    position: relative;
    z-index: 1;
}

.item-rating {
    font-size: 14px;
    color: #aaaaaa;
}
.item-rating .active {
    color: #ff0000;
}
.navigation-pagination {
    margin: 35px 0;
}
.navigation-pagination .pagination {
    align-items: center;
    justify-content: center;
}
.navigation-pagination .pagination .page-item {
    margin: 0 5px;
}
.navigation-pagination .pagination .page-item .page-link {
    color: #ffffff;
    font-size: 17px;
    transition: all 0.2s ease-in;
    display: block;
    position: relative;
    font-weight: 500;
    text-decoration: none;
    text-shadow: none;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    text-align: center;
}
.navigation-pagination .pagination .page-item .page-link:hover {
    background: #ff0000;
    border: 1px solid #ff0000;
}
.navigation-pagination .pagination .page-item.previous .page-link,
.navigation-pagination .pagination .page-item.next .page-link {
    border: 1px solid transparent;
    border-radius: 0;
    height: auto;
    width: auto;
    background: none !important;    
}
.addtm {
    margin: 10px 0 30px;
}
.addtm img {
    width: 100%;
}
.main-footer {
    background: #232323;
    padding: 25px 0;
}
.footer-head {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    border-bottom: 2px solid #ff0000;
}
.main-footer .footer-item:not(:last-child) {
    margin: 0 0 25px;
}
.footer-cont ul li {
    display: inline-block;
    margin-right: 25px;
}
.footer-cont ul li a {
    color: #bababa;
    font-size: 15px;
    transition: all 0.2s ease-in;
    font-weight: 500;
}
.footer-item .footer-cont {
    margin: 15px 0 0;
}
.item-celebrities .footer-cont ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.item-celebrities .footer-cont ul li {
    margin: 0;
}
.item-celebrities .footer-cont ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.2s ease-in;
    color: #fff;
    font-weight: 500;
}
.item-celebrities .footer-cont ul li.active a {
    background: #ff0000;
    font-weight: 900;
}
.item-connect .footer-cont ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bababa;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #ff0000;
    font-weight: 500;
}
.item-connect .footer-cont ul li a:hover { 
    background: #ff0000;
    border: 1px solid #ff0000;
    color: #fff;
}
.copy-right {
    background: #000000;
    padding: 20px 0;
}
.copy-txt {
    color: #bababa;
    font-size: 13px;
    font-weight: 500;
}
.lft-filter-btn {
    display: none;
    align-items: center;
}
.filter-btn1 span.btn.btn-sm i {
    padding-left: 10px;
    color: #ff0000;
    font-size: 20px;
}
.open-filter-dropdowns .filter-celebrities {
    top: 135px;
}
.filter-celebrities {
    /* background: #000; */
    position: absolute;
    right: 0;
    top: 65px;
    transition: all 0.2s ease-in;
    opacity: 0;
    transform: translate(25px, 0);
    visibility: hidden;
}
.open-filter-celebrities .filter-celebrities {
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;
}
.main-items {
    transition: all 0.2s ease-in;
}
.open-filter-celebrities .main-items {
    padding-right: 20px; 
}
.filter-celebrities ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.2s ease-in;
    color: #fff;
    font-weight: 500;
}
.filter-celebrities ul li.active a {
    color: #ff0000;
    font-weight: 900;
}
.menus .nav li:nth-last-child(2),
.menus .nav li:nth-last-child(1) {
    display: none;
}
.loadmore-button a {
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 8px 40px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    border-radius: 50px;
}
.footer-cont.footer-menu li {
    margin-right: 25px;
}
.footer-cont.footer-social li {
    margin-right: 10px;
}
.right-menu li:first-child a {
    color: #ff0000;
}





/* detail-page Css 24-02-2021 */

.inner-page-middle-sec {
    padding: 45px 0;
}
.detail-user-img {
    border: 2px solid #ff0000;
    overflow: hidden;
    border-radius: 10px;
}
.loadmore-button a { 
    display: inline-block;
    background: #f00;
}
.detail-user-img img {
    width: 100%;
    min-height: 325px;
    object-fit: cover;
}
.add-fav-btn, .user-rat-btn {
    margin: 18px 0 0;
}
.add-fav-btn .btn, .user-rat-btn .btn {
    background: #393939;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    vertical-align: middle;
    padding: 12px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.add-fav-btn .btn {
    background: #1f1f1f;
}
.add-fav-btn .btn i {
    font-size: 18px;
    color: #ff0000;
}
button.btn.fav-btn.active_favorite i {
    font-weight: 900;
}
.user-personal-info {
    margin: 25px 0 0;
}
.personal-info-heading {
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    padding: 0 0 5px;
    border-bottom: 2px solid #ff0000;
}
.personal-info-cont {
    padding: 20px 0;
}
.personal-info-div {
    color: #ffffff;
    margin: 0 0 20px;
}
.personal-info-div h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}
.personal-info-div p {
    font-size: 16px;
    margin: 0;
}
.user-rat-btn span.item-rating {
    color: #fff;
}
.detail-head-top h2 {
    font-size: 35px;
    color: #ff0000;
    font-weight: 700;
}
.detail-head-top p {
    font-size: 18px;
    color: #fff;
    margin: 0;
}
.detail-head-top .item-rating {
    display: inline-block;
    margin-left: 15px; 
}
.detail-head-top .item-rating .active,
.reviews-item .item-rating .active {
    color: #ffd200;
}
.detail-sec {
    margin-top: 25px;
}
.detail-sec-head {
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    margin: 0 0 10px;
}
.detail-secDic .card,
.detail-sec-tab .tab-content>.tab-pane .card {
    background: #1f1f1f;
    border-radius: 10px;
}
.detail-sec-tab .tab-content>.tab-pane .card-body {
    padding: 25px;
}
.detail-secDic .card-body {
    padding: 25px;
    font-size: 15px;
    text-align: justify;
    color: #fff;
}
.detail-pro-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
}
.detail-pro-list ul li {
    width: 25%;
    padding: 0 10px;
}
.detail-pro-img {
    position: relative;
}
.detail-pro-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.detail-pro-img a,
.detail-pro-more a {
    border-radius: 10px;
    overflow: hidden;
    display: block;
    height: 278px;
    text-align: center;
    background: #ff0000;
    border: 1px solid #ff0000;
    color: #fff;
}
.detail-pro-more a {
    display: grid;
    align-items: center;
    justify-content: center;
}
.more-pro-cont h2 {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    margin: 0;
}
.more-pro-cont p {
    font-size: 20px;
    color: #fff;
    margin: 0;
}
.more-pro-cont .more-pro-btn {
    font-size: 55px;
    color: #fff;
}
.play-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.play-btn .btn {
    background: #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 40px;
    color: #ff0000;
    border: 5px solid #fff;
}
.detail-pro-nm {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 18px 0 0;
}
.detail-sec-tab li.nav-item .nav-link {
    background: #393939;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.detail-sec-tab li.nav-item .nav-link.active {
    background: #ff0000;
}
.detail-sec-tab {
    padding: 20px 0 0;
}
.reviews-dt {
    color: #ff0000;
    font-size: 17px;
    font-weight: 600;
    margin: 5px 0;
}
.reviews-item:not(:last-child) {
    margin: 0 0 20px;
}
.reviews-dt span {
    font-size: 14px;
    font-weight: normal;
    color: #d4d4d4;
}
.reviews-cont {
    color: #d4d4d4;
}
.reviews-cont h4 {
    color: #fff;
    font-size: 17px;
    margin: 0 0 5px;
}
.reviews-cont p {
    color: #d4d4d4;
    font-size: 14px;
    margin: 0;
}
.reviews-item-more {
    margin: 40px 0 10px;
}
.reviews-item-more .btn {
    background: #ff0000;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
/* detail-page Css 24-02-2021 */
.login-inner{
    color: #fff;
}
input.in-fld {
    height: 60px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #999; 
}
.login-inner {
    color: #fff;
    max-width: 570px;
    width: 100%;
    margin: 80px auto;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px #999;
    background:#1f1f1f;
    /*background: url(../images/bbg.png) no-repeat left bottom / cover;*/
}
.login-inner input.form-control{
    height: 70px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #999;
    background: #fff; 
}
.form-group.row {
    margin-bottom: 25px; 
    position: relative;
}
.form-group.row label {
    margin-bottom: 4px;
    color: #fff;
    position: absolute;
    left: 25px;
    top: -10px;
    background: #000;
    width: auto;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 12px;
    text-transform: uppercase;
}
.form-check {
    margin-bottom: 20px;
    margin-left: 5px;
}
button.btn.btn-primary.logBtn {
    background: #ff0000;
    font-weight: 500;
}
.card-header {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.login-subtitle {
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
}
a.btn.btn-link {
    color: #fff;
}
a.btn.btn-link:hover{
    color: #ff0000;
}
.no-s {
    text-align: left;
    margin-top: 25px;
    font-size: 14px;
}
.no-s a{
    color: #ff0000;
    font-weight: 600;
}
.subcriber-page {
    margin: 60px 0; 
}
.head-img {
    text-align: center;
     padding-top: 50px;
}
.subcriber-page {
    background: #1f1f1f;
    border-radius: 15px;
    color: #fff;
}
.subcriber-text {
    color: #fff;
    font-size: 14px;
    text-align: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding:40px 20px;
}
.get-gull {
    text-align: center;
    font-size: 15px;
    background: #ff0000;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
    border-radius: 50px;
    font-weight: 500;
}
.sub-plan-heading {
    text-align: center;
    margin-top: 60px;
    position: relative;
}
.sub-plan-heading span {
    background: #000;
    padding: 15px 40px;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 50px;
    position: relative;
    z-index: 1;
}
.sub-plan-heading::before {
    content: "";
    display: block;
    width: 100%;
    background: #000;
    height: 3px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
}
.subs-detail {
    text-align: center;
    /*margin-top: 50px;*/
}
.get-gull span {
    font-weight: 800;
}
.subs-sub-hading {
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
    font-weight: 500;
}
.subs-inner {
    border: 1px solid #fff;
    padding: 0px 30px 30px 30px;
    border-radius: 10px;
    background: #000;
}
.plan-heading {
    background: #fff;
    color: #f00;
    font-weight: 700;
    font-size: 20px;
    padding: 30px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-transform: uppercase;
    position: relative;
    margin-top: -47px;
    border-radius: 10px; 
}
.plan-price {
    font-size: 50px;
    font-weight: 400;
    margin-top: 35px;
    /*text-shadow: 1px 2px 0px #ff0000;*/
}
.subs-button a {
    background: #ff0000;
    display: inline-block;
    padding: 10px 50px;
    color: #fff;
    font-weight: 600;
    border-radius: 50px;
    font-size: 17px; 
    box-shadow: 0 0 15px #ff0000;
}
.subs-button {
    /*margin-top: 50px;
    border-top: 1px solid #777;
    padding-top: 28px;*/
}
.subs-detail {
    padding: 75px;
}
.plan-desc {
    font-size: 13px;
    margin-top: 20px;
    /*border-top: 1px solid #777;*/
    border-bottom: 1px solid #777;
    padding: 20px 0;
    margin-bottom: 30px;
    min-height: 130px;
}
.checkout-page {
    background: #1f1f1f;
    border-radius: 15px;
    color: #fff;
    margin: 60px 0;
}
.checkout-plan-heading {
    text-align: center;
    background: #777;
    padding: 20px 0;
    border-radius: 15px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}
.plan-desc1 {
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-size: 15px;
    max-width: 530px;
    margin:20px auto 20px auto;
    width: 100%;
}
.card-header{
    border-bottom:none;
}
.t-am table {
    width: 100%;
}
.t-am {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    background: #111;
    padding: 15px 35px;
    border-radius: 9px;
}
.t-am table tr td{
    padding: 10px 0;
}
.t-am table tr td:nth-child(2) {
    text-align: right;
    font-size: 22px;
    color: #f00;
}
.t-am table tr td:nth-child(1){
    text-transform: uppercase;
}
.t-am table tr:nth-child(1) td {
    border-bottom: 1px solid #333;
}
.checkout-page .sub-plan-heading{
    margin-top: 30px;
}
.payment-option p{
    display: block;
    margin:0 0 0 0;
}

.container1 {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 280px;
  padding: 15px 55px;
  border: 1px solid #333;
  border-radius: 50px;
}
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container1 .checkmark {
    position: absolute; 
    top: 17px;
    left: 20px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50px;
}
.pay-now-button {
    text-align: center;
    margin-bottom: 40px;
}
.container1:hover input ~ .checkmark {
  background-color: #ccc;
}
.container1 input:checked ~ .checkmark {
  background-color: #f00; 
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container1 input:checked ~ .checkmark:after {
  display: block;
}
.container1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.payment-option{
    max-width: 600px;
    width: 100%;
    margin: 50px auto 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}  
.movie-detail-intro::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .75;
    content: ""; 
}
.movie-detail-intro {
    position: relative;
}
.ptb100 {
    padding: 100px 0;
}
h1.title {
    position: relative;
}

.img-box, .parallax, html, main, section {
    position: relative;
}
.contact-page .details-wrapper {
    width: 100%;
    padding-right: 40px;
}
.contact-details {
    list-style: none;
    padding: 0;
    color: #eeeeee;
}


.contact-page .details-wrapper ul.contact-details li i {
    height: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 32px;
} 
.contact-page .title {
    font-weight: 500
}

.contact-page .details-wrapper {
    width: 100%;
    padding-right: 40px;
    color:#fff;
}

.contact-page .details-wrapper ul.contact-details {
    list-style: none;
    padding-left: 30px;
    color: #eeeeee;
}

.contact-page .details-wrapper ul.contact-details strong {
    font-weight: 500
}

.contact-page .details-wrapper ul.contact-details li {
    text-align: left;
    padding-left: 60px;
    position: relative;
    width: 100%;
    display: inline-block;
    margin: 10px 0;
    line-height: 24px
}

.contact-page .details-wrapper ul.contact-details li strong {
    display: block
}

.contact-page .details-wrapper ul.contact-details li i {
    height: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 32px
}

form#contact-form div#contact-result {
    position: fixed;
    left: 0;
    bottom: -50px;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin: 0;
    z-index: 15;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease
}

.movie-box-3,
.watch-later-item {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

form#contact-form div#contact-result.error,
form#contact-form div#contact-result.valid {
    bottom: 0;
    opacity: 1;
    visibility: visible
}

form#contact-form div#contact-result.error {
    background: #dc464a
}

form#contact-form div#contact-result.valid {
    background: #2ecc71
}

.contact-page .title {
    font-weight: 700;
    color: #f00;
    font-size: 35px;
}
.contact-details a {
    color: #fff;
}
.contact-details i{
    color: #f00;
}
#cont-form .form-group input, #cont-form .form-group select {
    height: 50px;
    margin-bottom: 14px;
}
.contact-btn, .contact-btn:hover {
    background: #f00;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}

button.btn.contact-btn.btn-effect {
    margin-top: 15px;
}

.fav-btn i {
    font-weight: 300;
    color: #f00;
}
.active_favorite i{
    color: #ff0000; 
    font-weight: 900 !important; 
}
.cart-list-sec {
    border: 1px solid #777;
    margin: 45px auto;
    max-width: 600px;
    width: 100%;
    border-radius: 8px;
    background: #1f1f1f;
}
.cart-list-sec .card-header {
   text-align: center;
    background: #777;
    padding: 20px 0;
    border-radius: 8px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
.cart-list-sec ul {
    color: #fff;
    padding:10px 30px 30px 30px;
}

.cart-img {
    font-size: 60px;
    margin-right: 25px;
}
.cart-list-sec ul li { 
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 200px;
    padding:3px 30px;
    margin: 15px 0;
    background: #333;
    position: relative;
    flex-wrap: wrap;
}
li.add-default {
    background: #000 !important;
    border: 1px solid #bd0000 !important;
}
.cart-list-sec ul li p {
    margin: 0;
}
.cart-details p:nth-child(1) {
    font-size: 21px;
}
.cart-details p:nth-child(2) {
    font-size: 12px;
    background: #555;
    display: inline-block;
    padding: 1px 10px;
    border-radius: 50px;
}
.cart-delete {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}
.cart-delete a{
    color: #f00;
}
.add-new-cart {
    text-align: center;
}
.add-new-cart a {
    font-size: 15px;
    background: #f00;
    display: inline-block;
    padding: 8px 34px;
    border-radius: 50px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #f00; 
}

.pay-now-button button:hover {
    background: #000;
    border: 1px solid #f00;
    color: #f00;
}
.pay-now-button button {
    font-size: 15px;
    background: #f00;
    display: inline-block;
    padding: 8px 34px;
    border-radius: 50px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #f00;
}
.account-settings {
    background: #1f1f1f;
    border-radius: 15px;
    color: #fff;
    margin: 60px 0;
}
.setting-inner table {
    width: 100%;
}
.setting-inner {
    padding: 50px;
}
.setting-inner td {
    font-size: 16px;
    border-bottom: 1px solid #555;
    padding: 15px 25px 5px 25px;
}
.setting-inner td:nth-child(1) {
    font-weight: 600;
    background: #666;
}
.setting-inner td:nth-child(2) {
    background: #777;
}
.setting-inner td:nth-child(3) {
    background: #888;
}
.setting-inner td:last-child{
    text-align: right;
}
.setting-inner td a {
    font-size: 12px;
    background: #f00;
    display: inline-block;
    padding: 3px 15px;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s ease-in;
}
.setting-inner td a:hover{
    background: #000;
}
p.usr-name-sec span {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-right: 10px;
}
.success-payment-inner {
    color: #fff;
    text-align: center;
    margin: 50px 20px;
}
.right-check-icon {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 50%;
    line-height: 90px;
    font-size: 44px;
    background:#02bd66;
    box-shadow: 0px 0px 15px #05b563;
}
.thank-heading {
    margin-top: 25px;
    font-size: 35px; 
    font-weight: 600; 
}
.thank-text p {
    margin: 0;
}
.thank-text p:nth-child(1) {  
    font-size: 19px;
}
.thank-text p:nth-child(2) {
    font-size: 14px;
}
.goto-home a { 
    font-size: 13px;
    background: #f00;
    display: inline-block;
    padding: 8px 34px;
    border-radius: 50px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #f00;
}
.goto-home a:hover{
    background: #000;
    color: #f00;
}
.goto-home {
    margin-top: 30px;
}
.edit-profile.cart-list-sec .login-inner {
    color: #fff;
    max-width: 570px;
    width: 100%;
    margin: 0 ;
    border: none;
    padding: 30px;
    border-radius: 10px;
    box-shadow:none; 
    background:none; 
}
.add-card-inner{
    padding: 25px;
}
.add-car-field input.form-control { 
    height: 70px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #999;
    background: #fff;
}

.card-left-img { 
    text-align: center;
}
.add-card-inner .row {
    align-items: center;
}
.account-settings .setting-inner-new{
    padding: 0px;
    margin: 0 auto;
}
.account-settings .setting-inner-new::after{
    position: relative;
    content: " ";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
}
.setting-inner tr td{ 
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}
.setting-inner tr:hover td{
   /* background:rgba(0,0,0,0.05);*/
}
.setting-inner tr:last-child td{
    border: none !important; 
}