/* CSS Document */
@import "fontface.css";
body {
	margin: 0px;
	padding: 0px;
	color: #1f1a17;
    font-family: 'Montserrat', sans-serif;
	background: #000000;
	overflow-x: hidden;
}
:root {
    --main-color: #1f1a17;
}
/***************************reset*********************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0;
	font-size: 100%;
}
body ul {
	list-style: none;
	margin: 0px;
    padding: 0;
}
blockquote, q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	margin: 0px;
	padding: 0px;
}
img {
	max-width: 100%;
	border: none;
	max-height: 30%;
}
a {
	outline: 0;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
a img {
	border: 0px;
	text-decoration: none;
}

/***********************end reset*********************/


header.header {
    border-bottom: 1px solid #595959;
}
.right-menu {
    text-align: right;
}
.main-banner-slider {
    margin: 0 0 40px;
}
.banner-slider-img img {
    width: 100%;
    object-fit: cover;
}
.banner-slider-img {
    max-height: 575px;
}
.main-banner-slider .owl-carousel .owl-nav button {
    background: #fff;
    border: 2px solid #454545;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: calc(50% - 40px);
    font-size: 20px;
    outline: none;
}
.main-banner-slider .owl-carousel .owl-nav button span {
    display: none;
}
.main-banner-slider .owl-carousel .owl-nav button.owl-prev {
    left: 20px;
}
.main-banner-slider .owl-carousel .owl-nav button.owl-next {
    right: 20px;
}
.main-banner-slider .owl-carousel .owl-nav button.owl-prev::before,
.main-banner-slider .owl-carousel .owl-nav button.owl-next::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.main-banner-slider .owl-carousel .owl-nav button.owl-prev::before {
    content: "\f060";
}
.main-banner-slider .owl-carousel .owl-nav button.owl-next::before {
    content: "\f061";
}
.main-banner-slider .owl-dots {
    text-align: center;
    margin: 20px 0 0;
}
.main-banner-slider .owl-dots button.owl-dot {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    margin: 0 5px;
    outline: none;
}
.main-banner-slider .owl-dots button.owl-dot.active {
    background: #ff0000;
}
.lft-filter {
    font-size: 25px;
    font-weight: 800;
    color: #fff;
}
.lft-filter span.btn.sm-btn.rounded-pill {
    background: #ff0000;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    vertical-align: middle;
}
.top-filter {
    margin: 0 0 35px;
}
.filter-btn1 span.btn.btn-sm, .filter-btn2 span.btn.btn-sm {
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
}
.lft-filter .lft-filter-btn {
    display: none;
}
.right-filter-dropdowns {
    display: flex;
    justify-content: flex-end;
    width: 100% !important;
}
.right-filter-dropdowns .results-fltr .btn, .right-filter-dropdowns .dropdown .btn, .right-filter-dropdowns .input-group.search-filter {
    background: #e5e5e5;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0;
    text-align: left;
    text-transform: capitalize;
    width: 100%;
    height: 50px;
}
.right-filter-dropdowns .input-group.search-filter input.form-control {
    height: 100%;
    background: none;
    border: none;
    box-shadow: none;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}
.right-filter-dropdowns .results-fltr .btn i, .right-filter-dropdowns .dropdown .btn i {
    font-size: 18px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}
.right-filter-dropdowns .form-group {
    width: 33.3333%;
    padding: 0 5px;
}
.right-filter-dropdowns .dropdown ul.dropdown-menu {
    width: 100%;
    border-radius: 0;
}
.main-items ul.items {
    display: flex;
    flex-wrap: wrap;
}
.main-items ul.items li.item {
    padding: 5px;
    max-width: 16.6666%;
    flex: 0 0 16.6666%;
}
.main-items ul.items li.item .item-inn {
    background: #232323;
    padding: 10px 10px 20px;
    text-align: center;
}
.item .item-inn .item-img a {
    display: block;
}
.item .item-inn .item-img a img {
    width: 100%;
    height: 198px;
    object-fit: cover;
}
.item-cont .item-title {
    margin: 15px 0 5px;
}
.item-cont .item-title a {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    transition: all 0.2s ease-in;
    text-transform: uppercase;
}
.main-items .item:hover .item-cont .item-title a {
    color: #ff0000;
}
.item-cont .item-fav .btn {
    background: #000;
    width: 45px;
    height: 45px;
    font-size: 18px;
    color: #ffffff;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-fav {
    margin-top: -20px;
    position: relative;
    z-index: 1;
}
.item-cont .item-fav .btn.active {
    color: #ff0000;
}
.item-rating {
    font-size: 14px;
    color: #aaaaaa;
}
.item-rating .active {
    color: #ff0000;
}
.navigation-pagination {
    margin: 35px 0;
}
.navigation-pagination .pagination {
    align-items: center;
    justify-content: center;
}
.navigation-pagination .pagination .page-item {
    margin: 0 5px;
}
.navigation-pagination .pagination .page-item .page-link {
    color: #ffffff;
    font-size: 17px;
    transition: all 0.2s ease-in;
    display: block;
    position: relative;
    font-weight: 500;
    text-decoration: none;
    text-shadow: none;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    text-align: center;
}
.navigation-pagination .pagination .page-item .page-link:hover {
    background: #ff0000;
    border: 1px solid #ff0000;
}
.navigation-pagination .pagination .page-item.previous .page-link,
.navigation-pagination .pagination .page-item.next .page-link {
    border: 1px solid transparent;
    border-radius: 0;
    height: auto;
    width: auto;
    background: none !important;    
}
.addtm {
    margin: 10px 0 30px;
}
.addtm img {
    width: 100%;
}
.main-footer {
    background: #232323;
    padding: 25px 0;
}
.footer-head {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    border-bottom: 2px solid #ff0000;
}
.main-footer .footer-item:not(:last-child) {
    margin: 0 0 25px;
}
.footer-cont ul li {
    display: inline-block;
    margin-right: 25px;
}
.footer-cont ul li a {
    color: #bababa;
    font-size: 15px;
    transition: all 0.2s ease-in;
    font-weight: 500;
}
.footer-item .footer-cont {
    margin: 15px 0 0;
}
.item-celebrities .footer-cont ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.item-celebrities .footer-cont ul li {
    margin: 0;
}
.item-celebrities .footer-cont ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.2s ease-in;
    color: #fff;
    font-weight: 500;
}
.item-celebrities .footer-cont ul li.active a {
    background: #ff0000;
    font-weight: 900;
}
.item-connect .footer-cont ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bababa;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #ff0000;
    font-weight: 500;
}
.item-connect .footer-cont ul li a:hover {
    background: #ff0000;
    border: 1px solid #ff0000;
    color: #fff;
}
.copy-right {
    background: #000000;
    padding: 20px 0;
}
.copy-txt {
    color: #bababa;
    font-size: 13px;
    font-weight: 500;
}
.lft-filter-btn {
    display: none;
    align-items: center;
}
.filter-btn1 span.btn.btn-sm i {
    padding-left: 10px;
    color: #ff0000;
    font-size: 20px;
}
.open-filter-dropdowns .filter-celebrities {
    top: 135px;
}
.filter-celebrities {
    /* background: #000; */
    position: absolute;
    right: 0;
    top: 65px;
    transition: all 0.2s ease-in;
    opacity: 0;
    transform: translate(25px, 0);
    visibility: hidden;
}
.open-filter-celebrities .filter-celebrities {
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;
}
.main-items {
    transition: all 0.2s ease-in;
}
.open-filter-celebrities .main-items {
    padding-right: 40px;
}
.filter-celebrities ul li a {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.2s ease-in;
    color: #fff; 
    font-weight: 500; 
} 
.filter-celebrities ul li.active a {
    color: #ff0000;
    font-weight: 900;
}
.menus .nav li:nth-last-child(2),
.menus .nav li:nth-last-child(1) {
    display: none;
}
.right-menu  li:first-child a{
     color: #ff0000;
} 
.footer-cont.footer-social li {
    margin-right: 10px;
}
.loadmore-button {
    text-align: center;
}
.loadmore-button a {
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 8px 40px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    border-radius: 50px;
}
.footer-cont.footer-menu ul li a:hover {
    color: #f00;
}
.main-items #no_record {
    width: 100%;
    height: 50px;
    text-align: center !important ;
}